@model MovieMood.Web.ViewModels.Movies.Administration.ViewModels.AdminMovieDetailsViewModel
@using MovieMood.Common

@{
    var cloudLink = GlobalConstants.CloudinaryStartUrl + Model.ImagePath;
}
<div class="text-left">
    <h1 style="text-align:left" ; class="font-italic">@Model.Name</h1>
    <img style="width: 340px; height: 340px;" src="@cloudLink" class="img-fluid float-left" />
</div>
<div class="row">
    <div class="col-sm-auto">
        <p>@Model.Resume</p>
    </div>
    <p> <strong style="margin-left:15px; margin-right: 15px">Cast: </strong>@Model.Cast</p>
</div>
<p class="text-left"><strong style="margin-left:15px; margin-right: 15px">Duration: </strong>@Model.Duration</p>
<p class="text-left"><strong style="margin-left:15px; margin-right: 15px">Added At: </strong>@Model.CreatedOn</p>
<p class="d-inline"><strong style="margin-left:15px; margin-right: 15px">Genres: </strong></p>
@foreach (var genre in Model.Genres)
{
    if (genre == Model.Genres.Last())
    {
        <p class="d-inline">@genre.</p>
    }
    else
    {
        <p class="d-inline">@genre,</p>
    }
}
<p><strong style="margin: 15px" ;>Director: </strong>@Model.Director</p>
<br />
<a href="/Administration/Movies/Delete?movieId=@Model.Id" class="btn btn-danger text-white mt-2 d-inline">Delete Movie</a>
<a href="/Administration/Movies/Edit?movieId=@Model.Id" class="btn btn-primary text-white mt-2 d-inline">Edit</a>
<a class="video" href="@Model.Trailer"><i class="video1"></i>WATCH TRAILER</a>