@model MovieMood.Web.ViewModels.Halls.ViewModels.HallListingViewModel

@{
    ViewData["Title"] = "All";
}

<section class="pb-sm-3">
    <div class="container">
        <h1 style=" text-align: center;">All Halls</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">CreatedOn</th>
                    <th scope="col">FreeSeats</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hall in Model.Halls)
                {
                    <tr>
                        <th scope="row">@hall.Id</th>
                        <td>@hall.Name</td>
                        <td>@hall.CreatedOn</td>
                        <td>@hall.FreeSeats / @hall.MaxSeats</td>
                        <td>
                            <div class="button-holder">
                                <a href="/Administration/Halls/Details?hallId=@hall.Id" class="btn btn-info text-uppercase">Info</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

